 <!-- Navigation-->
 <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home-button"></div>

        <!--<a class="navbar-brand" href="#!">Start Bootstrap</a>-->
        <div class="home-button" >
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'ListaProfesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'ListaEstudiante' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'ListaCursos' %}">Cursos</a>
        <!-- <a class="navbar-brand" href="{% url 'Entregables' %}">Entregables</a>-->

        <a class="btn btn-primary" href="#signup">Iniciar Sesion</a>
    </div>
</div>